### Import Library

In [1]:
import sqlite3
from pathlib import Path

### Build Connection

In [2]:
db_path = Path.cwd() / 'db_bigdata_demo.sqlite'
connection = sqlite3.connect(db_path)

### Create Tables

In [3]:
# create a cursor object when working with a database connection.
# cursor object is the primary way to execute SQL queries and fetch data from DB
cursor = connection.cursor()

# 1. make a SQL statement as a string to create a table
create_scores_table = """
CREATE TABLE IF NOT EXISTS scores (
    id TEXT PRIMARY KEY NOT NULL,
    name TEXT NOT NULL,
    chinese INTEGER NOT NULL,
    math INTEGER NOT NULL,
    english INTEGER NOT NULL
);
"""
# 2. execute SQL statement with cursor object
cursor.execute(create_scores_table)
# 3. commit the transaction
connection.commit()

### [C]reate Records

In [4]:
insert_scores = """
INSERT INTO
    scores (id, name, chinese, math, english)
VALUES
    ("001", 'John', 90, 80, 70),
    ("002", 'Mary', 55, 60, 75),
    ("003", 'Tom', 90, 95, 100);
"""    
cursor.execute(insert_scores)
connection.commit()

### [R]ead Records

In [5]:
read_scores = """
SELECT * FROM scores;
"""
# the cursor object will execute the SELECT * FROM scores query on the database
# and prepare the results for further processing.
cursor.execute(read_scores)

# fetchall() method to get all the rows from the result set
# fetchone() method to get the first row from the result set
# fetchmany() method to get a specific number of rows from the result set
rows = cursor.fetchall()
print(rows)
for row in rows:
    print(f'ID: {row[0]}, Name: {row[1]}, Chinese: {row[2]}, Math: {row[3]}, English: {row[4]}')

[('001', 'John', 90, 80, 70), ('002', 'Mary', 55, 60, 75), ('003', 'Tom', 90, 95, 100)]
ID: 001, Name: John, Chinese: 90, Math: 80, English: 70
ID: 002, Name: Mary, Chinese: 55, Math: 60, English: 75
ID: 003, Name: Tom, Chinese: 90, Math: 95, English: 100

In [6]:
read_scores = """
SELECT * FROM scores where math > 90;
"""
cursor.execute(read_scores)
rows = cursor.fetchall()
print(rows)
for row in rows:
    print(f'ID: {row[0]}, Name: {row[1]}, Chinese: {row[2]}, Math: {row[3]}, English: {row[4]}')

[('003', 'Tom', 90, 95, 100)]
ID: 003, Name: Tom, Chinese: 90, Math: 95, English: 100

### [U]pdate Records

In [7]:
update_scores = """
UPDATE
    scores
SET
    math = 83
WHERE
    id = '002'        
"""
cursor.execute(update_scores)
connection.commit()

### [D]elete Records

In [8]:
delete_records = "DELETE FROM scores WHERE id = '002';"
cursor.execute(delete_records)
connection.commit()

### Close Connection

In [10]:
connection.close()

### Drop Tables

In [12]:
db_path = Path.cwd() / 'db_bigdata_demo.sqlite'
connection = sqlite3.connect(db_path)
connection.execute("DROP TABLE scores")
connection.commit()
connection.close()

OperationalError: no such table: scores