### Import Library

In [1]:
from tinydb import TinyDB, Query
from pathlib import Path

### Connect to DB

In [3]:
db_path = Path.cwd() / 'bigdata_demo.json'
db = TinyDB(db_path)
table = db.table('users')

### [C]reate Documents

In [8]:
table.truncate()

In [9]:
person1 = {'name':'John', 'age':30}
person2 = {'name':'Max', 'age':25}
person3 = {'name':'Allen', 'age':40, 'city':'Taipei'}
table.insert(person1)
table.insert_multiple([person2, person3])
table.all()

[{'name': 'John', 'age': 30},
 {'name': 'Max', 'age': 25},
 {'name': 'Allen', 'age': 40, 'city': 'Taipei'}]

In [10]:
for item in table:
    print(item)

{'name': 'John', 'age': 30}
{'name': 'Max', 'age': 25}
{'name': 'Allen', 'age': 40, 'city': 'Taipei'}

### [R]ead Documents

In [12]:
User = Query()
foo1 = table.search(User.city == 'Taipei')
foo2 = table.search(User.age <= 30)
print(foo1)
print(foo2)

[{'name': 'Allen', 'age': 40, 'city': 'Taipei'}]
[{'name': 'John', 'age': 30}, {'name': 'Max', 'age': 25}]

### [U]pdate Documents

In [13]:
table.update({'age': 45}, User.name == 'Allen')

[3]

### [D]elete Documents

In [14]:
table.remove(User.name == 'Max')
# DocID #2 has been deleted

[2]

In [ ]:
person4 = {'name':'Jacky', 'age':55, 'city':'HsinChu'}
table.insert(person4)
# DocID #4 has been inserted, not DocID #2

### Operate document by DocID

In [ ]:
foo3 = table.get(doc_id = 3)
print(foo3.doc_id,'-->', foo3)
foo4 = table.get(doc_ids = [1, 3])
print(foo4)

In [78]:
table.update({'city':'New Taipei City'}, doc_ids=[3])

[3]

In [41]:
table.remove(doc_ids=[4])

[4]

### Close DB

In [81]:
db.close()